<%= bootstrap_form_for(@offer) do |f| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.text_field :title %>



    <%= f.text_area :description %>

    <%= f.text_area :short_description %>

    <%= f.text_area :about_us %>

    <%= f.number_field :located_at %>

    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
